.navbar {
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 15px;
  border-bottom: 1px solid;
}
.navbar ul {
  list-style-type: none; /*to remove bullets*/
  text-align: center;
  padding: 0px;
  zoom:1;
  border:1px solid red;
  overflow: hidden;
}
.navbar li{
  padding: 2px;
  width: 150px;
  display:inline-block;
}
